.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 5px;
	padding-bottom: 20px;
	margin-top: 15px;
}

.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

.description {
	margin-bottom: 10px;
	text-align: justify;
}

a {
	cursor: pointer;
}

